<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="container" id="app">
        <main @>
            <div class="chat-left">
                <div class="menu-left">

                </div>
                <div class="notifiche">
                    <i class="fas fa-bell-slash"></i>
                    <div class="notifiche-text">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <h4>Attiva notifiche desktop</h4>
                    </div>
                </div>
                <div class="input">
                    <input type="text" id="cerca" v-model="nomi" @keyup="cerca()">
                </div>
                <div class="contatti">
                    <div :class="{nascondi:!persona.visible}" class="contatto" v-for="(persona, indice) in contacts" @click="selezionaChat(indice)">
                        <div class="profile-pic">
                            <img :src="'img/img'+ persona.avatar +'.jpg'" alt="">
                        </div>
                        <div class="nome">
                            {{persona.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-right">
                <div class="menu-right">

                </div>
                <div v-if="corrente != null" class="chat">
                    <div class="messaggi">
                        <div :class="messaggio.status" class="messaggio" v-for="(messaggio, indice) in contacts[corrente].messages">
                            {{messaggio.text}}
                            <i class="fas fa-chevron-down" @click="mostraTendina(indice)"></i>
                            <div :class="{block: tendinaCorrente == indice}" class="tendina">
                                <div @click="eliminaMessaggio(indice)">
                                    Elimina il messaggio
                                </div>
                            </div>
                        </div>
                        
                        
    
    
                    </div>
                    <div class="input-scrivi">
                        <input type="text" id="scrivi" v-model="messaggio" @keyup.enter="scrivi()">
                    </div>
                </div>
            </div>
        </main>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="myscript.js"></script>
</body>
</html>