*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #d6dad9;
    overflow: hidden;
}

.container2{
    background-color: #009788;
    width: 100%;
    height: 150px;
    padding: 25px 0;
}

header,
main,
footer{
    height: 100%;
    width: 80%;
    margin:0 auto;
}

.menu-left{
    background-color: whitesmoke;
    width: 40%;
    height: 100%;
    float: left;
    border-right: 1px solid black;
}

.menu-right{
    background-color: #ebebeb;
    width: 60%;
    height: 100%;
    float: right;
}

main{
    height: 1000px;
    width: 80%;
}

.chat-left{
    width: 40%;
    height: 100%;
    float: left;
}

.chat-right{
    width: 60%;
    height: 100%;
    float: right;
}

.notifiche{
    background-color: powderblue;
    height: 100px;
    width: 100%;
}

.fa-bell-slash{
    float: left;
    color: powderblue;
    background-color: white;
    border-radius: 50%;
    font-size: 50px;
    padding: 15px;
    margin: 10px;
}

.notifiche-text{
    line-height: 50px;
    margin: 0 20px;
    display: inline-block;
}

h4{
text-decoration: underline;
color: grey;
}

.input{
    text-align: center;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid grey;
}

#cerca{
    width: 80%;
    height: 50px;
}

.contatti{
    background-color: white;
    width: 100%;
    height: calc(100% - 170px);
    overflow-y: scroll;
}

.contatto{
    width: 100%;
    height: 100px;
    padding: 10px;
}

.profile-pic{
    float: left;
    height: 80px;
    width: 80px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome{
    margin: 20px;
    float: left;
}

.chat{
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.input-scrivi{
    background-color: #ebebeb;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 25px 0;
}

#scrivi{
    width: 80%;
    height: 50px;
    margin: 0 auto;
}

.sent{
    background-color: #dbf9c5;
    float: right;
    min-width: 50%;
    margin-left: 50%;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}

.received{
    background-color: white;
    float: left;
    width: 50%;
    margin-right: 50%;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}